{% include 'adminheader.html' %}
 <section>
      <div id="hero-section" class="landing-hero" data-stellar-background-ratio="0">
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">

                <div class="hero-text">
                  <div class="herolider">

<center>
	<form method="post">

		{% if data['teacher'] %}
		<h1>GENERATE SCHEDULE</h1>
		<table class="table" style="height: 300px">
		<tr>
			<th>TEACHER</th>
			<td><select name="teacher_id" class="form-control">
				{% for row in data['teacher'] %}
				<option value="{{row['teacher_id']}}">{{row['first_name']}}</option>
				{% endfor %}
			</select></td>
		</tr>
		<td><input type="hidden" name="subject_id" value="{{data['subject_id']}}"></td>
		<tr> 
			<th>DATE</th>
			<td><input type="date" name="date" class="form-control"></td>
		</tr>
		<tr>
			<th>STARTING TIME</th>
			<td><input type="time" name="stime" class="form-control"></td>
		</tr>
		<tr>
			<th>ENDING TIME</th>
			<td><input type="time" name="etime" class="form-control"></td>
		</tr>

		<tr>
			<td colspan="2" align="center"><input type="submit" name="add" value="ADD" class="btn btn-primary"></td>
		</tr>
	</table>


		{% else %}


	
		<h1>GENERATE SCHEDULE {{data['cname']}}</h1>

		<table class="table" style="width:  700px;height: 100px">
		<tr>
			<th>CHOOSE SUBJECT</th>
			<td><select name="subject_id" class="form-control">
				{% for row in data['subjects'] %}
				<option value="{{row['subject_id']}}">{{row['subject_name']}}</option>
				{% endfor %}
			</select></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-info" value="VIEW TEACHERS AND SCHEDULE"></td>
		</tr>


		</table>


		{% if data['shedule'] %}
		<h1>TIME SCHEDULED ON COURSE {{data['cname']}}</h1>
		<table class="table" style="width: 800px" border="1">
			<tr>
				<th>SL.NO</th>
				<th>SUBJECT</th>
				<th>DATE</th>
				<th>FROM TIME</th>
				<th>TO TIME</th>
				<th>TEACHER</th>
				<th>AVAILBILITY</th>
				<th>SHEDULE STATUS</th>
				<TH>DELETE</TH>
			</tr>
			{% for row in data['shedule'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{ row['subject_name'] }}</td>
				<td>{{ row['date'] }}</td>
				<td>{{ row['starting_hour'] }}</td>
				<td>{{ row['ending_hour'] }}</td>
				<td>{{ row['first_name'] }}</td>
				<td>{{row['teacher_availability_status']}}</td>
				<td>{{row['schedule_status']}}</td>
				
				<td><a href="?action=delete&id={{ row['schedule_id'] }}&cid={{data['cid']}}&cname={{data['cname']}}" class="btn btn-danger" >DELETE</a></td>
			</tr>
			{% endfor%}
		</table>
		{% else %}
		<h2>NO SHEDULES PLANNED</h2>
		{% endif %}
		{% endif %}
	</form>
</center>

   					   </div> <!-- end herolider -->
                </div> <!-- end hero-text -->

                
              </div> <!-- end col-md-6 -->
            </div> <!-- end row -->
          </div> <!-- End container -->
        </div> <!-- End hero-content -->
      </div> <!-- End hero-section -->
    </section>


{% include 'footer.html' %}